<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="left fadeInDown">
  <ul>
    <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
    <li><a href="/eventos"><i style="    font-size: 40px;" class="material-icons prefix" >date_range</i></a></li>
  </ul>
</div>

<div class="wrapper top">
<div id="formContent" class="large">
<div class="container listMoments">
    <p id="timer">

    </p>
    <div id="iframe-cont" style="margin-left: -70px;"></div>
    <input type="hidden" id="input-frame" value="<%= momento.presentacion %>">
    <p id="nombre" class="textL" ><%= momento.nombre %></p>
    <p id="ponente" class="textL" ><%= momento.ponente %></p>
    <div class="row">
      <form class="col s12" action="/preguntar/momento/<%= momento.id %>" method="POST">
        <input type="hidden" name="momento" value="<%= momento.id %>"/>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" name="cont" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea1">Textarea</label>
            <input type="submit" class="btn btn-lg btn-primary btn-block right " value="Preguntar"/>
            <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
          </div>
        </div>
      </form>
    </div>
</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  var str = $("#input-frame").val();
  $( "#iframe-cont" ).html(str);
} );
</script>

<script>
// Set the date we're counting down to
var countDownDate = new Date("<%= momento.diaInicio %> <%= momento.horaFin %>").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    if(<%= momento.activo %>){
        var pre = "Tiempo restante: "
        var now = new Date().getTime();
    }else{
      var pre = "Tiempo destinado: "
      var now = new Date("<%= momento.diaInicio %> <%= momento.horaInicio %>");
    }


    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("timer").innerHTML = pre + hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
