<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="left fadeInDown">
  <ul>
    <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
    <li><a href="/eventos"><i style="    font-size: 40px;" class="material-icons prefix" >date_range</i></a></li>
  </ul>
</div>
<div class="wrapper top fadeInDown">
<div id="formContent" class="large">
  <div class="container listMoments">
    <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <% for (var i = 0; i < cantDias; i++) { %>
                <li class="tab col s3"><a <% if(i==0){ %> class="active" <% } %> href="#test<%= i %>">Día <%= i+1 %></a></li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="row">
      <% for (var i = 0; i < cantDias; i++) { %>
          <div id="test<%= i %>" class="col s12">
            <% if( dirMomentos[i][0] != 0){ %>
            <span class="span-fecha"><%= dirMomentos[i][0].diaInicio %></span>
              <% _.each(dirMomentos[i], function(momento) { %>
                <a class="col s12 contMoment" href="/eventos/<%= momento.horario %>/momento/<%= momento.id  %>">

                    <div class="col s6">
                      <p><%= momento.nombre %></p>
                    </div>
                    <div class="col s3">
                      <p class="left-align"> <i class="fa fa-play-circle-o light-green-text text-lighten-1" aria-hidden="true"></i> <%= momento.horaInicio %></p>
                    </div>
                    <div class="col s3">
                      <p class="left-align"><i class="fa fa-pause-circle-o red-text text-lighten-1" aria-hidden="true"></i> <%= momento.horaFin %></p>
                    </div>
                    <div class="col s5 offset-s1">
                      <p><%= momento.ponente %></p>
                    </div>
                    <% if(momento.puntaje){ %>
                    <div class="col s5">
                      <p>Puntaje: <%= momento.score %></p>
                    </div>
                    <% } %>

                </a>
              <% }) %>
          <% } %>
          </div>
      <% } %>
      </div>
  </div>
</div>


</div>

<div class="modal modal-fixed fadeInDown" id="agregarModal" data-reveal>
    <div class="modal-content">
      <div class="row">
        <h2 class="form-signin-heading"> Crear evento </h2>
    <form action="/gestionador/momento/create" method="POST" class="form-signin">
       <div class="input-field col s12 m6">
         <input id="name-create" type="text" data-cont="nombre" type="text" name="nombre">
         <label for="name-create" class="active">Nombre</label>
       </div>
       <div class="input-field col s12 m6">
         <input id="ponente-create" type="text" data-cont="nombre" type="text" name="ponente">
         <label for="ponente-create" class="active">Ponente(s)</label>
       </div>
       <div class="input-field col s7">
          <input id="diaInicio-create" type="text" name="diaInicio" data-cont="diaInicio" class="datepicker" type="text">
          <label for="diaInicio-create">Dia de inicio</label>
        </div>
        <div class="input-field col s5">
           <input id="horaInicio-create" type="text" name="horaInicio" data-cont="horaInicio" class="timepicker" type="text">
           <label for="horaInicio-create">Hora</label>
         </div>
         <div class="input-field col s7">
            <input id="diaFin-create" type="text" name="diaFin" data-cont="diaFin" class="datepicker" type="text">
            <label for="diaFin-create">Dia de finalización</label>
          </div>
          <div class="input-field col s5">
             <input id="horaFin-create" type="text" name="horaFin" data-cont="horaFin" class="timepicker" type="text">
             <label for="horaFin-create">Hora</label>
           </div>
           <div class="col s6">
              <p>
                <input type="checkbox" class="filled-in" id="preg-create" name="preguntar" checked="checked" value="true" />
                <label for="preg-create">Preguntas</label>
              </p>
           </div>
           <div class="col s6">
             <p>
               <input type="checkbox" class="filled-in" id="puntaje-create" name="puntaje" checked="checked" value="true" />
               <label for="puntaje-create">Puntaje</label>
             </p>
           </div>
      <br/>
          <input type="hidden" name="horario" value="<%= evento.id %>"/>
          <input type="submit" class="btn btn-lg btn-primary btn-block right " value="Crear momento"/>
          <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
    </form>
  </div>
</div>
<a class="close modal-close waves-effect waves-green btn-flat" href="#!"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
</div>

<script>
  $(document).ready(function(){
    $('.modal').modal();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: true,
      minDate: new Date("<%= evento.diaInicio %>"),
      maxDate: new Date("<%= evento.diaFin %>")
    });
    $('.timepicker').pickatime({
       default: 'now', // Set default time: 'now', '1:30AM', '16:30'
       fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
       twelvehour: false, // Use AM/PM or 24-hour format
       donetext: 'OK', // text for done-button
       cleartext: 'Clear', // text for clear-button
       canceltext: 'Cancel', // Text for cancel-button
       autoclose: false, // automatic close timepicker
       ampmclickable: true, // make AM PM clickable
       aftershow: function(){} //Function for after opening timepicker
     });
  });
</script>
