<div class="left">
  <ul>
    <li><a href="/gestionador"><i class="fa fa-home fa-3" aria-hidden="true"></i></a></li>
    <li><a href="/logout"><i class="fa fa-users fa-3" aria-hidden="true"></i></a></li>
      <li><a href="/logout"><i class="fa fa-sign-out fa-3" aria-hidden="true"></i></a></li>
  </ul>
</div>

<div class="wrapper top">
<div id="formContent" class="large">
<div class="container listMoments">
    <p id="timer"></p>
    <div id="iframe-cont"></div>
    <input type="hidden" id="input-frame" value="<%= momento.presentacion %>">
    <p id="nombre" class="textL" ><%= momento.nombre %></p>
    <p id="ponente" class="textL" ><%= momento.ponente %></p>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="input_text" type="text" data-length="10">
            <label for="input_text">Input text</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea1">Textarea</label>
            <input type="submit" class="btn btn-lg btn-primary btn-block right " value="Crear evento"/>
            <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
          </div>
        </div>
      </form>
    </div>
</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  var str = $("#input-frame").val();
  $( "#iframe-cont" ).html(str);
} );
</script>

<script>
// Set the date we're counting down to
var countDownDate = new Date("<%= momento.diaInicio %> <%= momento.horaFin %>").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    if(<%= momento.activo %>){
        var now = new Date().getTime();
    }else{
      var now = new Date("<%= momento.diaInicio %> <%= momento.horaInicio %>");
    }


    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("timer").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
