<div class="left">
  <ul>
    <li><a href="/gestionador"><i class="fa fa-home fa-3" aria-hidden="true"></i></a></li>
    <li><a href="/logout"><i class="fa fa-users fa-3" aria-hidden="true"></i></a></li>
      <li><a href="/logout"><i class="fa fa-sign-out fa-3" aria-hidden="true"></i></a></li>
  </ul>
</div>

<div class="wrapper top">
<div id="formContent" class="large">
  <div class="container listMoments">
    <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <% for (var i = 0; i < cantDias; i++) { %>
                <li class="tab col s3"><a <% if(i==0){ %> class="active" <% } %> href="#test<%= i %>">Día <%= i+1 %></a></li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="row">
      <% for (var i = 0; i < cantDias; i++) { %>
          <div id="test<%= i %>" class="col s12">
            <% if( dirMomentos[i][0] != 0){ %>
            <span class="span-fecha"><%= dirMomentos[i][0].diaInicio %></span>
              <% _.each(dirMomentos[i], function(momento) { %>
                <div data-id="<%= momento.id %>" class="col s12 contMoment">
                  <div class="col m6 s12">
                    <a href="/gestionador/evento/<%= momento.horario %>/momento/<%= momento.id %>">
                    <div class="col s8">
                      <p id="nombre" ><%= momento.nombre %></p>
                    </div>
                    <div class="col s4">
                      <i class="fa fa-play-circle-o light-green-text text-lighten-1" aria-hidden="true"></i><p id="horaInicio" style="padding-left:5px;display: inline-block;" class="left-align">  <%= momento.horaInicio %></p>
                    </div>
                    <div class="col s7 offset-s1">
                      <p id="ponente" ><%= momento.ponente %></p>
                    </div>
                    <div class="col s4">
                      <i class="fa fa-pause-circle-o red-text text-lighten-1" aria-hidden="true"></i><p id="horaFin" style="padding-left:5px;display: inline-block;" class="left-align"> <%= momento.horaFin %></p>
                    </div>
                    </a>
                      <p id="preguntar" style="display:none;" ><%= momento.preguntar %></p>
                      <p id="puntaje" style="display:none;" ><%= momento.puntaje %></p>
                      <input id="presentacion" type="hidden" value="<%= momento.presentacion %>">
                  </div>
                  <div class="col m6 s12">
                    <a href="/activar/evento/<%= momento.horario %>/momento/<%= momento.id %>" class="btn btn-sm btn-primary">Iniciar</a>
                    <a id='<%= momento.id %>' href="#editarModal" href="#" class="modal-trigger btn-editar btn btn-sm btn-warning blue">Edit</a>
                    <form action="#" method="POST">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="submit" class="btn red" value="Delete"/>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    </form>
                  </div>
                </div>
              <% }) %>

          <% } %>
          </div>
      <% } %>
      </div>
  </div>
</div>

<a href="#agregarModal" class="add-btn modal-trigger"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></a>
</div>

<div class="modal modal-fixed fadeInDown" id="agregarModal" data-reveal>
    <div class="modal-content">
      <div class="row">
        <h2 class="form-signin-heading"> Crear evento </h2>
    <form action="/gestionador/momento/create" method="POST" class="form-signin">
       <div class="input-field col s12 m6">
         <input id="name-create" type="text" data-cont="nombre" type="text" name="nombre">
         <label for="name-create" class="active">Nombre</label>
       </div>
       <div class="input-field col s12 m6">
         <input id="ponente-create" type="text" data-cont="nombre" type="text" name="ponente">
         <label for="ponente-create" class="active">Ponente(s)</label>
       </div>
       <div class="input-field col s12 m7">
          <input id="diaInicio-create" type="text" name="diaInicio" data-cont="diaInicio" class="datepicker" type="text">
          <label for="diaInicio-create">Dia de inicio</label>
        </div>
        <div class="input-field col s12 m5">
           <input id="horaInicio-create" type="text" name="horaInicio" data-cont="horaInicio" class="timepicker" type="text">
           <label for="horaInicio-create">Hora inicio</label>
         </div>
         <div class="input-field col s12 m7">
            <input id="presentacion-create" type="text" name="presentacion" data-cont="presentacion" type="text">
            <label for="presentacion-create">iframe presentación</label>
          </div>
          <div class="input-field col s m5">
             <input id="horaFin-create" type="text" name="horaFin" data-cont="horaFin" class="timepicker" type="text">
             <label for="horaFin-create">Hora finalización</label>
           </div>
           <div class="col s12 m3">
                <input type="checkbox" class="filled-in" id="preg-create" name="preguntar" checked="checked" value="true" />
                <label for="preg-create">Preguntas</label>
           </div>
           <div class="col s12 m3">
               <input type="checkbox" class="filled-in" id="puntaje-create" name="puntaje" checked="checked" value="true" />
               <label for="puntaje-create">Puntaje</label>
           </div>
      <br/>
          <input type="hidden" name="horario" value="<%= evento.id %>"/>
          <input type="submit" class="btn btn-lg btn-primary btn-block right " value="Crear momento"/>
          <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
    </form>
  </div>
</div>
<a class="close modal-close waves-effect waves-green btn-flat" href="#!"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
</div>

<div class="modal modal-fixed fadeInDown" id="editarModal" data-reveal>
    <div class="modal-content">
      <div class="row">
      <form action="#" method="POST" class="form-signin" id="form-edit">
        <h2 class="form-signin-heading"> Editar momento </h2>
        <div class="input-field col s12 m6">
           <input type="text" data-cont="nombre" id="name-edit" name="nombre" placeholder=" " class="validate" required>
           </input>
            <label for="name-edit">Nombre</label>
         </div>
         <div class="input-field col s12 m6">
           <input type="text" data-cont="ponente" id="ponente-edit" name="ponente" placeholder=" " class="validate" required>
           <label for="ponente-edit" class="active">Ponente(s)</label>
         </div>
         <div class="input-field col s12 m7">
            <input type="text" name="diaInicio" data-cont="diaInicio" id="diaInicio-edit" class="datepicker validate" type="text" placeholder=" " required>
            <label for="diaInicio-edit">Dia de inicio</label>
          </div>
          <div class="input-field col s12 m5">
             <input type="text" name="horaInicio" data-cont="horaInicio" id="horaInicio-edit" class="timepicker validate" type="text" placeholder=" " required>
             <label for="horaInicio-edit">Hora inicio</label>
           </div>
           <div class="input-field col s12 m7">
             <input type="text" data-cont="presentacion" id="presentacion-edit" name="presentacion" placeholder=" " class="validate" required>
             <label for="presentacion-edit" class="active">iframe presentación</label>
           </div>
            <div class="input-field col s12 m5">
               <input type="text" name="horaFin" data-cont="horaFin" id="horaFin-edit" class="timepicker validate" type="text" placeholder=" " required>
               <label for="horaFin-edit">Hora fin</label>
             </div>
             <div class="col s12 m3">
                 <input type="checkbox" class="filled-in" id="preg-edit" name="preguntar" checked="checked" value="true" />
                 <label for="preg-edit">Preguntas</label>
             </div>
             <div class="col s12 m3">
                 <input type="checkbox" class="filled-in" id="puntaje-edit" name="puntaje" checked="checked" value="true" />
                 <label for="puntaje-edit">Puntaje</label>
             </div>
        <br/>
        <input type="submit" class="right btn btn-lg btn-primary btn-block" value="Editar evento"/>
        <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
      </form>
    </div>
</div>
<a class="close modal-close waves-effect waves-green btn-flat" href="#!"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  $( ".btn-editar" ).click(function() {
    var id = $(this).attr('id');
    var dir = '/gestionador/editar/momento/';
    var url = dir.concat(id);
    $('#form-edit').attr('action', url);
    var nombre = $('div[data-id="'+id+'"]').find('#nombre').text();
    var ponente = $('div[data-id="'+id+'"]').find('#ponente').text();
    var diaInicio =  $('div[data-id="'+id+'"]').siblings('span').text();
    var horaInicio = $('div[data-id="'+id+'"]').find('#horaInicio').text();
    var horaFin = $('div[data-id="'+id+'"]').find('#horaFin').text();
    var preguntar = $('div[data-id="'+id+'"]').find('#preguntar').text();
    var puntaje = $('div[data-id="'+id+'"]').find('#puntaje').text();
    var presentacion = $('div[data-id="'+id+'"]').find('#presentacion').val();
    $('#name-edit').val(nombre);
    $('#diaInicio-edit').val(diaInicio);
    $('#horaInicio-edit').val(horaInicio);
    $('#horaFin-edit').val(horaFin);
    $('#ponente-edit').val(ponente);
    $('#presentacion-edit').val(presentacion);

  });
});
</script>

<script>
  $(document).ready(function(){
    $('.modal').modal();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: true,
      minDate: new Date("<%= evento.diaInicio %>"),
      maxDate: new Date("<%= evento.diaFin %>")
    });
    $('.timepicker').pickatime({
       default: 'now', // Set default time: 'now', '1:30AM', '16:30'
       fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
       twelvehour: false, // Use AM/PM or 24-hour format
       donetext: 'OK', // text for done-button
       cleartext: 'Clear', // text for clear-button
       canceltext: 'Cancel', // Text for cancel-button
       autoclose: false, // automatic close timepicker
       ampmclickable: true, // make AM PM clickable
       aftershow: function(){} //Function for after opening timepicker
     });
  });
</script>
