<div class="left">
  <ul>
    <li><a href="/gestionador"><i class="fa fa-home fa-3" aria-hidden="true"></i></a></li>
    <li><a href="/logout"><i class="fa fa-users fa-3" aria-hidden="true"></i></a></li>
      <li><a href="/logout"><i class="fa fa-sign-out fa-3" aria-hidden="true"></i></a></li>
  </ul>
</div>

<div class="wrapper top">
<div id="formContent" class="large">
<div class="container listMoments">
    <p id="timer">

    </p>
    <div id="iframe-cont" style="margin-left: -70px;"></div>
    <input type="hidden" id="input-frame" value="<%= momento.presentacion %>">
    <p id="nombre" class="textL" ><%= momento.nombre %></p>
    <p id="ponente" class="textL" ><%= momento.ponente %></p>
      <h3 style="display: inline-block;margin-bottom: 15px;" >Preguntas y comentarios</h3>
    <div class="row">
      <% _.each(momento.preguntas, function(preg) { %>
      <div class="col s12">
        <div class="col s8">
          <%= preg.cont %>
        </div>
        <div class="col s2">
          <form action="/pregunta/activar/<%= preg.id %>" method="POST">
            <input type="hidden" name="active" value="true"/>
            <input type="submit" class="btn green" value="+" />
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
        </div>
        <div class="col s2">
          <form action="/pregunta/activar/<%= preg.id %>" method="POST">
            <input type="hidden" name="active" value="false"/>
            <input type="submit" class="btn red" value="x" />
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
        </div>
      <% }) %>
    </div>
</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  var str = $("#input-frame").val();
  $( "#iframe-cont" ).html(str);
} );
</script>

<script>
// Set the date we're counting down to
var countDownDate = new Date("<%= momento.diaInicio %> <%= momento.horaFin %>").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    if(<%= momento.activo %>){
        var pre = "Tiempo restante: "
        var now = new Date().getTime();
    }else{
      var pre = "Tiempo destinado: "
      var now = new Date("<%= momento.diaInicio %> <%= momento.horaInicio %>");
    }


    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("timer").innerHTML = pre + hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
