<div class="wrapper top fadeInDown">
  <div id="formContent" class="large">
<h3>Eventos</h3>
<table id="table" class='table table-hover table-mc-light-blue'>
  <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% _.each(eventos, function(evento) { %>
    <tr data-id="<%= evento.id %>">
        <td><%= evento.id %></th>
        <td class="nombre"><%= evento.nombre %></th>
        <td class="inicio"><%= evento.getInicio() %></th>
        <td class="fin"><%= evento.getFin() %></th>
        <td><a href="/gestionador/evento/<%= evento.id %>" class="btn btn-sm btn-primary">Show</a>
        <td><a id='<%= evento.id %>' href="#editarModal" class="modal-trigger btn-editar btn btn-sm btn-warning blue">Edit</a>
        <td><form action="/horario/destroy/<%= evento.id %>" method="POST">
                  <input type="hidden" name="_method" value="delete"/>
                  <input type="submit" class="btn red" value="Delete"/>
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
          </td>
      </tr>
    <% }) %>
  </tbody>
</table>
</div>
<a href="#agregarModal" class="add-btn modal-trigger"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></a>
</div>

<div class="modal modal-fixed fadeInDown" id="agregarModal" data-reveal>
    <div class="modal-content">
  <form action="/gestionador/eventos/create" method="POST" class="form-signin">
    <h2 class="form-signin-heading"> Crear evento </h2>
    <div class="control-group">
      <input type="text" class="form-control" placeholder="Nombre" name="nombre">
    </div>
    <div class="control-group">
      <input type="datetime-local" class="form-control" placeholder="Inicio" name="inicio">
    </div>
    <div class="control-group">
      <input type="datetime-local" class="form-control" placeholder="Fin" name="fin">
    </div>
    <br/>
        <input type="hidden" name="user" value="2"/>
        <input type="submit" class="btn btn-lg btn-primary btn-block right " value="Crear evento"/>
        <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
  </form>
</div>
<a class="close modal-close waves-effect waves-green btn-flat" href="#!"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
</div>

<div class="modal modal-fixed fadeInDown" id="editarModal" data-reveal>
    <div class="modal-content">
  <form action="#" method="POST" class="form-signin" id="form-edit">
    <h2 class="form-signin-heading"> Editar evento </h2>
    <div class="control-group">
      <input type="text" data-cont="nombre" id="name-edit" class="form-control" placeholder="Nombre" name="nombre">
    </div>
    <div class="control-group">
      <input type="datetime-local" data-cont="inicio" class="form-control" placeholder="Inicio" name="inicio">
    </div>
    <div class="control-group">
      <input type="datetime-local" data-cont="fin" class="form-control" placeholder="Fin" name="fin">
    </div>
    <br/>
    <input type="submit" class="right btn btn-lg btn-primary btn-block" value="Editar evento"/>
    <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
  </form>
</div>
<a class="close modal-close waves-effect waves-green btn-flat" href="#!"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
</div>

<script>
$( document ).ready(function() {
  $( ".btn-editar" ).click(function() {
    var id = $(this).attr('id');
    var dir = '/gestionador/editar/evento/';
    var url = dir.concat(id);
    $('#form-edit').attr('action', url);
    var nombre = $('tr[data-id="'+id+'"]').find('.nombre').text();
    var inicio = $('tr[data-id="'+id+'"]').find('.inicio').text();
    var inicio = $('tr[data-id="'+id+'"]').find('.fin').text();
    $('#name-edit').val(nombre);
  });
});
</script>
<script>
$(document).ready(function(){
  $('#table').DataTable( {
        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
    } );
});
</script>
<script> $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });</script>
